.cta {
    margin: 150px 0 0 0;
}
.cta_title {
    color: var(--color-white);
    font-family: var(--font-poppins);
    font-size: 70px;
    text-align: center;
}
.cta_img {
    width: 500px;
    border-radius: 20px;
}
.cta_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: aliceblue;
    margin-left: -300px;
}
.cta_description {
    color: var(--color-black-light);
    font-family: var(--font-mukta);
    font-size: 25px;
    max-width: 500px;
}
.cta_text {
    display: flex;
    flex-direction: column;
    row-gap: 120px;
    background-color: var(--color-white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    /* margin-right: 350px; */
}